{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="page-width{% if section.settings.heading == blank %} no-heading{% endif %} section-{{ section.id }}-padding">
    <h2 class="collage-wrapper-title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    <div class="collage{% if section.settings.mobile_layout == 'collage' %} collage--mobile{% endif %}">
      {%- for block in section.blocks -%}
        <div class="collage__item collage__item--{{ block.type }} collage__item--{{ section.settings.desktop_layout }}" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class="collage-card color-{{ settings.card_color_scheme }}{% if block.settings.image_padding %} collage-card-spacing{% endif %}">
                <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                  {%- if block.settings.image != blank -%}
                    <img
                      srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | image_url: width: 990 }} 990w,{%- endif -%}
                        {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
                        {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 1500 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  {%- endif -%}
                </div>

                {% if block.settings.static_img_title != blank and block.settings.static_img_desc != blank %}
                  <div class="content">
                    <div class="inner">
                    {{ block.settings.static_img_desc }}

                    {%- if block.settings.static_img_title != blank -%}
                      <h3 class="ja-img-title  {{ block.settings.heading_size }}">{{ block.settings.static_img_title | escape }}</h3>
                    {%- endif -%}
                    
                    {%- if block.settings.static_img_link_label != blank -%}
                      <a class="link animate-arrow ja-link-label" {% if block.settings.static_img_link == blank %}
                        role="link" aria-disabled="true"{% else %} href="{{ block.settings.static_img_link }}"{% endif %}>
                        {{ block.settings.static_img_link_label | escape }}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>
                      </a>
                    {%- endif -%}
                    </div>
                  </div>
                {% endif %}
              </div>
            {%- when 'product' -%}
              {% render 'card-product',
                card_product: block.settings.product,
                media_aspect_ratio: 'adapt',
                show_secondary_image: block.settings.second_image,
                extend_height: true
              %}
            {%- when 'collection' -%}
              {% render 'card-collection',
                card_collection: block.settings.collection,
                media_aspect_ratio: 'adapt',
                columns: 2,
                extend_height: true
              %}
            {%- when 'video' -%}
              <div class="collage-card color-{{ settings.card_color_scheme }}">
                <noscript>
                  <a href="{{ block.settings.video_url }}" class="collage-card__link{% if block.settings.image_padding %} collage-card-spacing{% endif %}">
                    <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                      {%- if block.settings.cover_image != blank -%}
                        <img
                          srcset="{%- if block.settings.cover_image.width >= 550 -%}{{ block.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 720 -%}{{ block.settings.cover_image | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | image_url: width: 990 }} 990w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 2200 -%}{{ block.settings.cover_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {{ block.settings.cover_image | image_url }} {{ block.settings.cover_image.width }}w"
                          src="{{ block.settings.cover_image | image_url: width: 1500 }}"
                          sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                          alt="{{ block.settings.description | escape }}"
                          loading="lazy"
                          width="{{ block.settings.cover_image.width }}"
                          height="{{ block.settings.cover_image.height }}"
                        >
                      {%- else -%}
                        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                  </a>
                </noscript>
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                  <div class="deferred-media">
                    <button class="deferred-media__poster full-unstyled-link{% if block.settings.image_padding %} collage-card-spacing{% endif %}" type="button" aria-label="{{ 'sections.video.load_video' | t: description: block.settings.description | escape }}" aria-haspopup="dialog" data-media-id="{{ block.settings.video_url.id }}">
                      <div class="media media--transparent ratio"{% if block.settings.cover_image != blank %} style="--ratio-percent: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%"{% else %} style="--ratio-percent: 100%"{% endif %}>
                        <span class="deferred-media__poster-button motion-reduce">
                          {%- render 'icon-play' -%}
                        </span>
  
                        {%- if block.settings.cover_image != blank -%}
                          <img
                            srcset="{%- if block.settings.cover_image.width >= 550 -%}{{ block.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 720 -%}{{ block.settings.cover_image | image_url: width: 720 }} 720w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | image_url: width: 990 }} 990w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 2200 -%}{{ block.settings.cover_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                              {{ block.settings.cover_image | image_url }} {{ block.settings.cover_image.width }}w"
                            src="{{ block.settings.cover_image | image_url: width: 1500 }}"
                            sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
                            alt="{{ block.settings.description | escape }}"
                            loading="lazy"
                            width="{{ block.settings.cover_image.width }}"
                            height="{{ block.settings.cover_image.height }}"
                          >
                        {%- else -%}
                          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    </button>
                  </div>
                </modal-opener>
                <modal-dialog id="PopupModal-{{ block.id }}" class="modal-video media-modal color-background-1">
                  <div class="modal-video__content" role="dialog" aria-label="{{ block.settings.description | escape }}" aria-modal="true" tabindex="-1">
                    <button id="ModalClose-{{ block.id }}" type="button" class="modal-video__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                    <div class="modal-video__content-info">
                      <deferred-media class="modal-video__video template-popup">
                        <template>
                          {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}" ></iframe>
                          {%- else -%}
                            <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
                          {%- endif -%}
                        </template>
                      </deferred-media>
                    </div>
                  </div>
                </modal-dialog>
              </div>
            {%- when 'slideshow' -%}
            {% assign slide = block.settings %}
            {% assign slide_height = 'adapt_image' %}

            <!-- handle image title -->
            {%- capture img_titles -%}
              {{ slide.img_title1 }}, {{ slide.img_title2 }}, {{ slide.img_title3 }}
            {%- endcapture -%}
            {%- assign img_titles = img_titles | split: ", " -%}

            {%- capture img_descs -%}
              {{ slide.img_desc1 }}/ {{ slide.img_desc2 }}/ {{ slide.img_desc3 }}
            {%- endcapture -%}
            {%- assign img_descs = img_descs | split: "/ " -%}

            <!-- handle label link for image-->
            {%- capture img_link_labels -%}
              {{ slide.img_link_label1 }}, {{ slide.img_link_label2 }}, {{ slide.img_link_label3 }}
            {%- endcapture -%}
            {%- assign img_link_labels = img_link_labels | split: ", " -%}

            <!-- handle image link -->
            {%- capture img_links -%}
              {{ slide.img_link1 }}, {{ slide.img_link2 }}, {{ slide.img_link3 }}
            {%- endcapture -%}
            {%- assign img_links = img_links | split: ", " -%}

              <!-- clone some image fields to an array -->
              <!-- init an image array -->
              {%- capture images -%}
                {{ slide.img1 }}, {{ slide.img2 }}, {{ slide.img3 }}
              {%- endcapture -%}
            {% liquid
              assign images = images | split: ", "
              assign total_img = 0
              for img in images
                if img != blank
                  assign total_img = total_img | plus: 1
                endif
              endfor
            -%}

              <!-- init an image width array -->
              {%- capture imgs_width -%}
                {{ slide.img1.width }}, {{ slide.img2.width }}, {{ slide.img3.width }}
              {%- endcapture -%}
              {%- assign imgs_width = imgs_width | split: ", " -%}
              <!-- init an image aspect_ratio-->
              {%- capture imgs_aspect_ratio -%}
                {{ slide.img1.aspect_ratio }}, {{ slide.img2.aspect_ratio }}, {{ slide.img3.aspect_ratio }}
              {%- endcapture -%}
              {%- assign imgs_aspect_ratio = imgs_aspect_ratio | split: ", " -%}
              <!-- init an image alt -->
              {%- capture imgs_alt -%}
                {{ slide.img1.alt }}, {{ slide.img2.alt }}, {{ slide.img3.alt }}
              {%- endcapture -%}
              {%- assign imgs_alt = imgs_alt | split: ", " -%}

              <!-- init image url -->
              {%- capture imgs_url -%}
                {{ slide.img1 | image_url }}, {{ slide.img2 | image_url }}, {{ slide.img3 | image_url }}
              {%- endcapture -%}
              {%- assign imgs_url = imgs_url | split: ", " -%}

              {%- capture imgs_width_550 -%}
                {{ slide.img1 | image_url: width: 550 }}, {{ slide.img2 | image_url: width: 550 }}, {{ slide.img3 | image_url: width: 550 }}
              {%- endcapture -%}
              {%- assign imgs_width_550 = imgs_width_550 | split: ", " -%}

              {%- capture imgs_width_375 -%}
                {{ slide.img1 | image_url: width: 375 }}, {{ slide.img2 | image_url: width: 375 }}, {{ slide.img3 | image_url: width: 375 }}
              {%- endcapture -%}
              {%- assign imgs_width_375 = imgs_width_375 | split: ", " -%}

              {%- capture imgs_width_750 -%}
                {{ slide.img1 | image_url: width: 750 }}, {{ slide.img2 | image_url: width: 750 }}, {{ slide.img3 | image_url: width: 750 }}
              {%- endcapture -%}
              {%- assign imgs_width_750 = imgs_width_750 | split: ", " -%}

              {%- capture imgs_width_1100 -%}
                {{ slide.img1 | image_url: width: 1100 }}, {{ slide.img2 | image_url: width: 1100 }}, {{ slide.img3 | image_url: width: 1100 }}
              {%- endcapture -%}
              {%- assign imgs_width_1100 = imgs_width_1100 | split: ", " -%}

              {%- capture imgs_width_1500 -%}
                {{ slide.img1 | image_url: width: 1500 }}, {{ slide.img2 | image_url: width: 1500 }}, {{ slide.img3 | image_url: width: 1500 }}
              {%- endcapture -%}
              {%- assign imgs_width_1500 = imgs_width_1500 | split: ", " -%}

              {%- capture imgs_width_1780 -%}
                {{ slide.img1 | image_url: width: 1780 }}, {{ slide.img2 | image_url: width: 1780 }}, {{ slide.img3 | image_url: width: 1780 }}
              {%- endcapture -%}
              {%- assign imgs_width_1780 = imgs_width_1780 | split: ", " -%}

              {%- capture imgs_width_2000 -%}
                {{ slide.img1 | image_url: width: 2000 }}, {{ slide.img2 | image_url: width: 2000 }}, {{ slide.img3 | image_url: width: 2000 }}
              {%- endcapture -%}
              {%- assign imgs_width_2000 = imgs_width_2000 | split: ", " -%}

              {%- capture imgs_width_3000 -%}
                {{ slide.img1 | image_url: width: 3000 }}, {{ slide.img2 | image_url: width: 3000 }}, {{ slide.img3 | image_url: width: 3000 }}
              {%- endcapture -%}
              {%- assign imgs_width_3000 = imgs_width_3000 | split: ", " -%}

              {%- capture imgs_width_3840 -%}
                {{ slide.img1 | image_url: width: 3840 }}, {{ slide.img2 | image_url: width: 3840 }}, {{ slide.img3 | image_url: width: 3840 }}
              {%- endcapture -%}
              {%- assign imgs_width_3840 = imgs_width_3840 | split: ", " -%}

              {%- if slide_height == 'adapt_image' and slide.img1 != blank -%}
                {%- style -%}
                  @media screen and (max-width: 749px) {
                  #Slider-{{ section.id }}::before,
                  #Slider-{{ section.id }} .media::before,
                  #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
                  padding-bottom: {{ 1 | divided_by: 1.77777778 | times: 100 }}%;
                  content: '';
                  display: block;
                  }
                  }

                  @media screen and (min-width: 750px) {
                  #Slider-{{ section.id }}::before,
                  #Slider-{{ section.id }} .media::before {
                  padding-bottom: {{ 1 | divided_by: 1.77777778 | times: 100 }}%;
                  content: '';
                  display: block;
                  }
                  }
                {%- endstyle -%}
              {%- endif -%}
              <slideshow-component class="slider-mobile-gutter{% if block.settings.layout == 'grid' %} page-width{% endif %}{% if block.settings.show_text_below %} mobile-text-below{% endif %}"
                                   role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
                                   aria-label="{{ block.settings.accessibility_info | escape }}">
                <!-- handle image -->
                <div class="slideshow banner banner--{{ slide_height }} grid grid--1-col slider slider--everywhere{% if slide.show_text_below %} banner--mobile-bottom{% endif %} {% if slide.img1 == blank %} slideshow--placeholder{% endif %}"
                     id="Slider-{{ section.id }}"
                     aria-live="polite"
                     aria-atomic="true"
                     data-autoplay="{{ slide.auto_rotate }}"
                     data-speed="{{ slide.change_slides_speed }}">

                  {%- for img in images -%}
                      <style>
                        #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
                          opacity: {{ slide.image_overlay_opacity | divided_by: 100.0 }};
                        }
                      </style>
                      <div class="slideshow__slide grid__item grid--1-col slider__slide"
                           id="Slide-{{ section.id }}-1"
                              {{ block.shopify_attributes }}
                           role="group"
                           aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                           aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                           tabindex="-1"
                      >
                        <div class="slideshow__media banner__media media{% if img == blank %} slideshow--placeholder{% endif %}">
                          {%- liquid
                            assign idx = forloop.index | minus: 1
                            assign img_width = imgs_width[idx] | plus: 0
                            assign img_aspect_ratio = imgs_aspect_ratio[idx] | plus: 0
                            assign img_alt = imgs_alt[idx]
                            assign img_url = imgs_url[idx]
                            assign img_width_375 = imgs_width_375[idx]
                            assign img_width_550 = imgs_width_550[idx]
                            assign img_width_750 = imgs_width_750[idx]
                            assign img_width_1100 = imgs_width_1100[idx]
                            assign img_width_1500 = imgs_width_1500[idx]
                            assign img_width_1780 = imgs_width_1780[idx]
                            assign img_width_2000 = imgs_width_2000[idx]
                            assign img_width_3000 = imgs_width_3000[idx]
                            assign img_width_3840 = imgs_width_3840[idx]
                            assign img_title = img_titles[idx]
                            assign img_link_label = img_link_labels[idx]
                            assign img_link = img_links[idx]
                            assign img_desc = img_descs[idx] -%}

                          {% if img != blank %}
                          <img srcset="{%- if img_width >= 375 -%}{{ img_width_375 }} 375w,{%- endif -%}
                            {%- if img_width >= 550 -%}{{ img_width_550 }} 550w,{%- endif -%}
                            {%- if img_width >= 750 -%}{{ img_width_750 }} 750w,{%- endif -%}
                            {%- if img_width >= 1100 -%}{{ img_width_1100 }} 1100w,{%- endif -%}
                            {%- if img_width >= 1500 -%}{{ img_width_1500 }} 1500w,{%- endif -%}
                            {%- if img_width >= 1780 -%}{{ img_width_1780 }} 1780w,{%- endif -%}
                            {%- if img_width >= 2000 -%}{{ img_width_2000 }} 2000w,{%- endif -%}
                            {%- if img_width >= 3000 -%}{{ img_width_3000 }} 3000w,{%- endif -%}
                            {%- if img_width >= 3840 -%}{{ img_width_3840 }} 3840w,{%- endif -%}
                            {{ img_url }} {{ img_width }}w"
                               sizes="100vw"
                               src="{{ img_width_1500 }}"
                               loading="lazy"
                               alt="{{ img_alt | escape }}"
                               width="{{ img_width }}"
                               height="{{ img_width | divided_by: img_aspect_ratio | round }}"
                          >
                          {%- else -%}
                            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                        </div>
                        <div class="slideshow__text-wrapper banner__content banner__content--middle-left">
                          <div class="slideshow__text banner__box content-container content-container--full-width-mobile slideshow__text--center slideshow__text-mobile--center">
                            {%- if img_title != blank -%}
                              <h3 class="ja-img-title">{{ img_title | escape }}</h3>
                            {%- endif -%}
                            {%- if img_desc -%}
                              {{ img_desc }}
                            {%- endif -%}
                            {%- if img_link_label != blank -%}
                              <a class="link animate-arrow ja-link-label"
                              {% if img_link == blank %}role="link" aria-disabled="true"
                                 {% else %}href="{{ img_link }}"{% endif %}>
                                  {{ img_link_label | escape }}
                                  <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>
                              </a>
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                  {%- endfor -%}
                </div>

                <!-- handle button next & back for auto slide -->
                {%- if slide.auto_rotate -%}
                  {%- assign total_img = 3 -%}
                  <div id="auto-slide-control" class="slideshow__controls ja-image-slide auto-slide slideshow__controls--top slider-buttons no-js-hidden{% if block.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
                    <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">
                      {% render 'icon-chevron-left' %}</button>
                    <div class="slider-counter slider-counter--{{ block.settings.slider_visual }}{% if block.settings.slider_visual == 'counter' or block.settings.slider_visual == 'numbers' %} caption{% endif %}">
                      {%- if block.settings.slider_visual == 'counter' -%}
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ total_img }}</span>
                      {%- else-%}
                        <div class="slideshow__control-wrapper">
                          {%- for block_ in (1..total_img) -%}
                            <button class="slider-counter__link slider-counter__link--{{ block.settings.slider_visual }} link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                              {%- if block.settings.slider_visual == 'numbers' -%}{{ forloop.index }}{% else %}<span class="dot"></span>{%- endif -%}
                            </button>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    </div>
                    <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
                  </div>
                  <noscript>
                    <div class="slider-buttons">
                      <div class="slider-counter">
                        {%- for block_ in (1..total_img) -%}
                          <a href="#Slide-{{ section.id }}-{{ forloop.index }}"
                             class="slider-counter__link link"
                             aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                            {{ forloop.index }}
                          </a>
                        {%- endfor -%}
                      </div>
                    </div>
                  </noscript>
                {%-endif-%}

                <!-- handle button next & back for no auto-slide -->
                {%- if slide.auto_rotate == false -%}
                  {%- assign total_img = 3 -%}
                  <div id="slide-control" class="slideshow__controls ja-image-slide slider-buttons no-js-hidden{% if block.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
                    <button type="button" class="slider-button slider-button--prev" name="previous"
                            aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                            aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
                    <div class="slider-counter slider-counter--{{ block.settings.slider_visual }}{% if block.settings.slider_visual == 'counter' or block.settings.slider_visual == 'numbers' %} caption{% endif %}">
                      {%- if block.settings.slider_visual == 'counter' -%}
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ total_img }}</span>
                      {%- else -%}
                        <div class="slideshow__control-wrapper">
                          {%- for block_ in (1..total_img) -%}
                            <button class="slider-counter__link slider-counter__link--{{ slide.slider_visual }} link"
                                    aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                                    aria-controls="Slider-{{ section.id }}">
                              {%- if slide.slider_visual == 'numbers' -%}
                                {{ forloop.index }}
                              {% else %}
                                <span class="dot"></span>
                              {%- endif -%}
                            </button>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    </div>
                    <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>

                    {%- if block.settings.auto_rotate -%}
                      <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if block.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
                              aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
                        {%- render 'icon-pause' -%}
                        {%- render 'icon-play' -%}
                      </button>
                    {%- endif -%}
                  </div>
                  <noscript>
                    <div class="slider-buttons">
                      <div class="slider-counter">
                        {%- for block in (1..total_img) -%}
                          <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                            {{ forloop.index }}
                          </a>
                        {%- endfor -%}
                      </div>
                    </div>
                  </noscript>
                {% endif %}
              </slideshow-component>
            <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                var slideControl = document.getElementById('slide-control');
                var autoSlideControl = document.getElementById('auto-slide-control');
                var slide = {{ slide.slide_control }};

                if(!slide){
                  if (slideControl){
                    slideControl.style.display = 'none';
                  }
                  if (autoSlideControl){
                    autoSlideControl.style.display = 'none';
                  }
                }
              })
            </script>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Multimedia collage",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage.settings.desktop_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.collage.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collage.settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "collage",
          "label": "t:sections.collage.settings.mobile_layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.collage.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.collage.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.collage.blocks.image.settings.image_padding.label",
          "info": "t:sections.collage.blocks.image.settings.image_padding.info"
        },
        {
          "type": "header",
          "content": "t:sections.custom.blocks.empty.name"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "text",
          "id": "static_img_title",
          "default": "Column",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "static_img_desc",
          "label": "t:sections.custom.blocks.desc.name"
        },
        {
          "type": "text",
          "id": "static_img_link_label",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "static_img_link",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link.label"
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": false,
          "label": "t:sections.collage.blocks.product.settings.second_image.label"
        }
      ]
    },
    {
      "type": "collection",
      "name": "t:sections.collage.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collage.blocks.collection.settings.collection.label"
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.collage.blocks.video.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.collage.blocks.video.settings.cover_image.label"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.collage.blocks.video.settings.video_url.label",
          "placeholder": "t:sections.collage.blocks.video.settings.video_url.placeholder",
          "info": "t:sections.collage.blocks.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "description",
          "default": "Describe the video",
          "label": "t:sections.collage.blocks.video.settings.description.label",
          "info": "t:sections.collage.blocks.video.settings.description.info"
        },
        {
          "type": "checkbox",
          "id": "image_padding",
          "default": false,
          "label": "t:sections.collage.blocks.video.settings.image_padding.label",
          "info": "t:sections.collage.blocks.video.settings.image_padding.info"
        }
      ]
    },
    {
      "type": "slideshow",
      "name": "t:sections.slideshow.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "full_bleed",
              "label": "t:sections.slideshow.settings.layout.options__1.label"
            },
            {
              "value": "grid",
              "label": "t:sections.slideshow.settings.layout.options__2.label"
            }
          ],
          "default": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.label"
        },
        {
          "type": "select",
          "id": "slider_visual",
          "options": [
            {
              "value": "dots",
              "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
            },
            {
              "value": "counter",
              "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
            },
            {
              "value": "numbers",
              "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
            }
          ],
          "default": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.label"
        },
        {
          "type": "checkbox",
          "id": "auto_rotate",
          "label": "t:sections.slideshow.settings.auto_rotate.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "slide_control",
          "label": "t:sections.custom.blocks.slide_control.name",
          "default": true
        },
        {
          "type": "range",
          "id": "change_slides_speed",
          "min": 3,
          "max": 9,
          "step": 2,
          "unit": "s",
          "label": "t:sections.slideshow.settings.change_slides_speed.label",
          "default": 5
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.settings.mobile.content"
        },
        {
          "type": "checkbox",
          "id": "show_text_below",
          "label": "t:sections.slideshow.settings.show_text_below.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.settings.accessibility.content"
        },
        {
          "type": "text",
          "id": "accessibility_info",
          "label": "t:sections.slideshow.settings.accessibility.label",
          "info": "t:sections.slideshow.settings.accessibility.info",
          "default": "Slideshow about our brand"
        },
        {
          "type": "header",
          "content": "t:sections.custom.blocks.config_img.name"
        },
        {
          "type": "image_picker",
          "id": "img1",
          "label": "t:sections.custom.blocks.img1.name"
        },
        {
          "type": "text",
          "id": "img_title1",
          "default": "Column",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "img_desc1",
          "label": "t:sections.custom.blocks.desc.name"
        },
        {
          "type": "text",
          "id": "img_link_label1",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "img_link1",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.custom.blocks.empty.name"
        },
        {
          "type": "image_picker",
          "id": "img2",
          "label": "t:sections.custom.blocks.img2.name"
        },
        {
          "type": "text",
          "id": "img_title2",
          "default": "Column",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "img_desc2",
          "label": "t:sections.custom.blocks.desc.name"
        },
        {
          "type": "text",
          "id": "img_link_label2",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "img_link2",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.custom.blocks.empty.name"
        },
        {
          "type": "image_picker",
          "id": "img3",
          "label": "t:sections.custom.blocks.img3.name"
        },
        {
          "type": "text",
          "id": "img_title3",
          "default": "Column",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "img_desc3",
          "label": "t:sections.custom.blocks.desc.name"
        },
        {
          "type": "text",
          "id": "img_link_label3",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "img_link3",
          "label": "t:sections.image-banner-text-grid.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "product"
        },
        {
          "type": "collection"
        },
        {
          "type": "slideshow"
        }
      ]
    }
  ]
}
{% endschema %}
