{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% if section.settings.title_style == "03" %}
<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif

  if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty 
    if section.settings.show_description
      assign collection_description = section.settings.collection.description
    else
      assign collection_description = section.settings.description
    endif
  endif
-%}
<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %} {{ section.settings.mod_class }}">

    {%- unless section.settings.title == blank -%}
      <div class="collection__title title-wrapper title-wrapper--no-top-margin title-wrapper-{{ section.settings.title_style }} {% if section.settings.full_width == false and section.settings.title_style != "03" %} page-width{% endif %}{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        <div class="inner">
          {%- if section.settings.title_decor != blank -%}
            <img
              class="title_decor"
              srcset= "{{ section.settings.title_decor | image_url: width: 80 }}"
              src="{{ section.settings.title_decor | image_url: width: 80 }}"
              alt="{{ section.settings.title_decor.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.title_decor.width }}"
              height="{{ section.settings.title_decor.height }}"
            >
          {%- endif -%}
          {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
            <div class="collection__description {{ section.settings.description_style }}">
              {%- if section.settings.show_description -%}
                {{ section.settings.collection.description }}
              {%- else -%}
                {{ section.settings.description }}{% endif %}
            </div>
          {%- endif -%}
          
          {%- if section.settings.title != blank -%}
            <h2 class="title {{ section.settings.heading_size }}">
              {% if section.settings.title_style == "03" %}
              <div class="marquee-group">
                <div class="marquee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
                <div class="marqueee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
              </div>
              {% else %}
                {{ section.settings.title | escape }}
              {% endif %}
            </h2>
          {%- endif -%}

          {%- if section.settings.show_view_all and more_in_collection and section.settings.view_all_style == 'link' -%}
            <div class="center collection__view-all">
              <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link hightlight-link link--text{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
                <span>{{ 'sections.featured_collection.view_all' | t }}</span>
                <span class="icon-wrap">{% render 'icon-arrow' %}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}

    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false or section.settings.full_width == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop page-width-tablet {% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %} {% if show_mobile_slider %} slider-component-mobile{% endif %}">
      {%-liquid
        assign columns_desktop = section.settings.columns_desktop
        if products_to_display <= section.settings.columns_desktop
          assign num_dot_desktop = 1
        else
          assign num_dot_desktop = products_to_display | minus: section.settings.columns_desktop | plus: 1
        endif

        assign columns_mobile = section.settings.columns_mobile
      -%}
      {% if section.settings.show_card_collection %}
        <div class="product-grid-wrap product-grid-wrap--{{ section.settings.desktop_layout }}">
          <div class="collection-item">
            {% render 'card-collection'
             , card_collection: section.settings.collection
             , media_aspect_ratio: 'portrait'
             , columns: 1
             , extend_height: true
             , description: collection_description
             %}
          </div>
          <div class="product-items">
          {% endif %}
          <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
            {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
              <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                {% render 'card-product'
                 , card_product: product
                 , media_aspect_ratio: section.settings.image_ratio
                 , show_secondary_image: section.settings.show_secondary_image
                 , show_vendor: section.settings.show_vendor
                 , show_rating: section.settings.show_rating
                 , show_quick_add: section.settings.enable_quick_add
                 , section_id: section.id
                 , show_product_description: section.settings.show_product_description
                 , show_quick_view: false
                 %}
              </li>
            {%- else -%}
              {%- for i in (1..columns_desktop) -%}
                <li class="grid__item">
                  {% render 'card-product', show_vendor: section.settings.show_vendor %}
                </li>
              {%- endfor -%}
            {%- endfor -%}
          </ul>
          {% if section.settings.show_card_collection %}
          </div>
        </div>
      {%- endif -%}
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden slider-{%- if section.settings.slider_visual == 'dots' -%}dots{%- elsif section.settings.slider_visual == 'counter' -%}counter{%- else -%}navigation{%- endif -%}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
          {%- if section.settings.slider_visual != 'nav' -%}
          <div class="slider-counter caption slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
            {%- if section.settings.slider_visual == 'counter' -%}
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true">
                /
              </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            {%- else-%}
              <div class="slideshow__control-wrapper">
                {%- for block_ in (1..num_dot_desktop) -%}
                  <button class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                    {%- if section.settings.slider_visual == 'numbers' -%}
                      {{ forloop.index }}
                    {% else %}
                      <span class="dot"></span>
                    {%- endif -%}
                  </button>
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
          {%- endif -%}
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-chevron-left' %}</button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection and section.settings.view_all_style != 'link' -%}
      <div class="center collection__view-all">
        <a href="{{ section.settings.collection.url }}" class="{% if section.settings.view_all_style == 'link' %}link hightlight-link link--text{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--primary{% endif %}" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
          <span>{{ 'sections.featured_collection.view_all' | t }}</span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% if section.settings.title_style == "03" %}
<script type="text/javascript">
  const _getposy = document.querySelector(".collection .marquee");
  const _getposl = document.querySelector(".collection .marqueee");

  const _config = {
    speed: 1,
    ease: 1
  }

  window.addEventListener("scroll", function() {
    let pageY = window.pageYOffset;
    let bodyRect = _getposy.getBoundingClientRect();
    let bodyRectl = _getposl.getBoundingClientRect();
    //--
    gsap.to('.collection .marqueee', {
      duration:_config.speed,
      x: -(pageY-(bodyRectl.top - window.innerWidth))/2,
      ease: _config.ease
    });
    gsap.to(".collection .marquee", {
      duration:_config.speed,
      x: -(pageY-(bodyRectl.top - window.innerWidth))/3,
      ease: _config.ease
    });
  })

</script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__4.label"
          }, {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "t:sections.featured-collection.settings.title_style.label",
        "options": [
          {
            "value": "01",
            "label": "t:sections.featured-collection.settings.title_style.options__1.label"
          }, {
            "value": "02",
            "label": "t:sections.featured-collection.settings.title_style.options__2.label"
          }, {
            "value": "03",
            "label": "t:sections.featured-collection.settings.title_style.options__3.label"
          }
        ],
        "default": "02"
      },
      {
        "type": "image_picker",
        "id": "title_decor",
        "label": "Title Decor"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          }, {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          }, {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      }, 
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      }, {
        "type": "checkbox",
        "id": "show_description",
        "label": "t:sections.featured-collection.settings.show_description.label",
        "default": false
      }, {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }, {
        "type": "checkbox",
        "id": "show_card_collection",
        "label": "t:sections.featured-collection.settings.show_card_collection.label",
        "default": false
      }, {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 60,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      }, {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      }, {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.featured-collection.settings.full_width.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_view_all.label"
      }, {
        "type": "select",
        "id": "view_all_style",
        "label": "t:sections.featured-collection.settings.view_all_style.label",
        "options": [
          {
            "value": "link",
            "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
          }, {
            "value": "outline",
            "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
          }, {
            "value": "solid",
            "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
          }
        ],
        "default": "solid"
      }, {
        "type": "checkbox",
        "id": "enable_desktop_slider",
        "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
        "default": false
      }, {
        "type": "select",
        "id": "slider_visual",
        "options": [
          {
            "value": "dots",
            "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
          }, {
            "value": "counter",
            "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
          }, {
            "value": "nav",
            "label": "t:sections.slideshow.settings.slider_visual.options__4.label"
          }
        ],
        "default": "nav",
        "label": "t:sections.slideshow.settings.slider_visual.label"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "accent-3",
            "label": "t:sections.all.colors.accent_3.label"
          },
          {
            "value": "accent-4",
            "label": "t:sections.all.colors.accent_4.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info"
      }, {
        "type": "select",
        "id": "desktop_layout",
        "options": [
          {
            "value": "left",
            "label": "t:sections.collage.settings.desktop_layout.options__1.label"
          }, {
            "value": "right",
            "label": "t:sections.collage.settings.desktop_layout.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.collage.settings.desktop_layout.label"
      }, {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      }, {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      }, {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      }, {
        "type": "checkbox",
        "id": "show_product_description",
        "label": "t:sections.featured-collection.settings.show_product_description.label",
        "default": false
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
      }, {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }, {
        "type": "text",
        "id": "mod_class",
        "label": "Module Class Suffix"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}