<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-features-intro.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-features-intro.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    border-top: {{ section.settings.border_top_thickness }}px solid rgba(0, 0, 0, {{ section.settings.border_top_opacity }}%);
    border-bottom: {{ section.settings.border_bottom_thickness }}px solid rgba(0, 0, 0, {{ section.settings.border_bottom_opacity }}%);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}{% if section.settings.class_suffix != blank %} {{ section.settings.class_suffix }}{% endif %}">
  <div class="ja-features-intro content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} features-intro--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="features-intro__wrapper grid grid--1-col-tablet-down grid--2-col-desktop features-intro__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="features-intro__blocks grid__item {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="features-intro__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'caption' -%}
              <p class="features-intro__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }} style="font-family: {{ block.settings.caption_font_family }};">
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div class="features-intro__text rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div class="features-intro__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} features-intro__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label != blank -%}
                  <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="features-intro__blocks grid__item {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'feature-intro' -%}
            <div class="feature-intro">
            {% if block.settings.image != blank %}
              <img 
                src="{{ block.settings.image | image_url: width: 1300 }}" 
                loading="lazy"
                width="auto"
                height="auto"
                alt="feature image"
                class="feature-image"
              >
            {% endif %}

            {% if block.settings.heading != blank %}
              <h3 class="features-intro__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h3>
            {% endif %}

            {% if block.settings.text != blank %}
              <div class="features-intro__text rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {% endif %}
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.features-intro.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "class_suffix",
      "label": "Module Class Suffix"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.features-intro.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.features-intro.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.features-intro.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.features-intro.settings.desktop_content_position.label",
      "info": "t:sections.features-intro.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.features-intro.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.features-intro.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.features-intro.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.features-intro.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.features-intro.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.header__border.content"
    },
    {
      "type": "range",
      "id": "border_top_thickness",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.top_thickness.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "border_top_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings_schema.global.settings.top_opacity.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "border_bottom_thickness",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.bottom_thickness.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "border_bottom_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bottom_opacity.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.features-intro.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.features-intro.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.features-intro.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.features-intro.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.features-intro.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.features-intro.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.features-intro.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.features-intro.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.features-intro.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.features-intro.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.features-intro.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "font_picker",
          "id": "caption_font_family",
          "default": "assistant_n4",
          "label": "t:settings_schema.typography.settings.caption_font_family.label",
          "info": "t:settings_schema.typography.settings.caption_font_family.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.features-intro.blocks.text.name",
      "limit": 4,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.features-intro.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.features-intro.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.features-intro.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.features-intro.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.features-intro.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.features-intro.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.features-intro.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.features-intro.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.features-intro.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.features-intro.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "feature-intro",
      "name": "t:sections.features-intro.blocks.feature-intro.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.features-intro.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.features-intro.blocks.image.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.features-intro.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.features-intro.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
