{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'ja-marquee.css' | asset_url | stylesheet_tag }}
<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | round: 0 }}px;
    }
  }
{%- endstyle -%}

<div class="ja-marquee color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- unless section.settings.heading == blank -%}
    <div class="footer__title title-wrapper title-wrapper--no-top-margin title-wrapper-03">
      <div class="inner">
        <h2 class="footer__title title h1">
          <div class="marquee-group">
            <div class="marquee">
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span> 
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span> 
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span>
              <span>{{ section.settings.heading | escape }}</span>
            </div>
          </div>
        </h2>
      </div>
    </div>
  {%- endunless -%}
  
  {% comment %} End Footer Content Bottom {% endcomment %}
</div>

{% javascript %}
  const _getposy = document.querySelector(".ja-marquee .marquee");

  const _config = {
    speed: 1,
    ease: 1
  }

  window.addEventListener("scroll", function() {
    let pageY = window.pageYOffset;
    let bodyRect = _getposy.getBoundingClientRect();
    //--
    gsap.to(".ja-marquee .marquee", {
      duration:_config.speed,
      x: -(pageY-(bodyRect.top - window.innerWidth))/4,
      ease: _config.ease
    });
  })
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.ja-marquee.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Cosmet",
      "label": "t:sections.ja-marquee.settings.heading.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.colors.none.label"
        }
      ],
      "default": "accent-3",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}
