{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  assign swipe_on_mobile = true
  if swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="testimonials page-width {% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }}-padding isolate color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin title-wrapper-{{ section.settings.title_style }} {% if section.settings.full_width == false and section.settings.title_style != "03" %} page-width{% endif %}{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
        <div class="inner">
          {%- if section.settings.title_decor != blank -%}
            <img
              class="title_decor"
              srcset= "{{ section.settings.title_decor | image_url: width: 80 }}"
              src="{{ section.settings.title_decor | image_url: width: 80 }}"
              alt="{{ section.settings.title_decor.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.title_decor.width }}"
              height="{{ section.settings.title_decor.height }}"
            >
          {%- endif -%}
          {%- if section.settings.description != blank -%}
            <div class="{{ section.settings.description_style }}">
                {{ section.settings.description }}
            </div>
          {%- endif -%}
          
          {%- if section.settings.title != blank -%}
            <h2 class="title {{ section.settings.heading_size }}">
              {% if section.settings.title_style == "03" %}
              <div class="marquee-group">
                <div class="marquee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
                <div class="marqueee">
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span> 
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                  <span>{{ section.settings.title | escape }}</span>
                </div>
              </div>
              {% else %}
                {{ section.settings.title | escape }}
              {% endif %}
            </h2>
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}

    <ul class="testimonials-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop">
      {%- liquid
        assign highest_ratio = 0
        for block in section.blocks
          if block.settings.image.aspect_ratio > highest_ratio
            assign highest_ratio = block.settings.image.aspect_ratio
          endif
        endfor
      -%}

      {%-liquid
        assign columns_desktop = section.settings.columns_desktop
        assign testimonials_blocks = section.blocks | where: "type", "testimonial" 
        if testimonials_blocks.size <= section.settings.columns_desktop
          assign num_dot_desktop = 1
        else
          assign num_dot_desktop = testimonials_blocks.size | minus: section.settings.columns_desktop
        endif

        assign columns_mobile = section.settings.columns_mobile
      -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'testimonial' -%}
            {%- liquid
              assign empty_column = '' 
            -%}
            {%- if block.settings.image == blank and block.settings.title == blank and block.settings.text == blank and block.settings.link_label == blank -%}
              {%- assign empty_column = ' testimonials-list__item--empty' -%}
            {%- endif -%}

            <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="testimonials-list__item grid__item{% if swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}" {{ block.shopify_attributes }} role="group" aria-roledescription="Slide" aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ testimonials_blocks.size }}" tabindex="-1">
              <div class="testimonials-card content-container">
                <span aria-hidden="true" class="rating-star color-icon-accent-1" style="--rating: {{ block.settings.rating }}; --rating-max: 5.0; --rating-decimal: 0; --letter-spacing: 0.2; --font-size: 3.8;"></span>
                <div class="testimonials-card__info">
                  {%- if block.settings.title != blank -%}
                    <h3>{{ block.settings.title | escape }}</h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte">{{ block.settings.text }}</div>
                  {%- endif -%}

                  {%- if block.settings.author != blank -%}
                    <figcaption class="h5">{{ block.settings.author }}</figcaption>
                  {%- endif -%}
                </div>
              </div>
            </li>
        {%- endcase -%}
      {%- endfor -%}
    </ul>

    <div class="clients-wrapper grid grid--2-col-tablet-down grid--6-col-desktop">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'client' -%}
            <div class="grid__item">
              {%- if block.settings.image != blank -%}
                <div class="client-card__image-wrapper">
                  <div class="client-card__image">
                    <img
                    src="{{ block.settings.image.src | image_url: width: 128 }}"
                    alt="{{ block.settings.image.src.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                  >
                  </div>
                </div>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}  
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "testimonials",
      "label": "t:sections.testimonials.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        }, {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }, {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }, {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__4.label"
        }, {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "t:sections.featured-collection.settings.title_style.label",
      "options": [
        {
          "value": "01",
          "label": "t:sections.featured-collection.settings.title_style.options__1.label"
        }, {
          "value": "02",
          "label": "t:sections.featured-collection.settings.title_style.options__2.label"
        }, {
          "value": "03",
          "label": "t:sections.featured-collection.settings.title_style.options__3.label"
        }
      ],
      "default": "02"
    },
    {
      "type": "image_picker",
      "id": "title_decor",
      "label": "Title Decor"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        }, {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        }, {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    }, 
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.testimonials.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.testimonials.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.testimonials.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.testimonials.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.testimonials.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.testimonials.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.testimonials.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.testimonials.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.testimonials.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.testimonials.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.testimonials.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.testimonials.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.testimonials.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.testimonials.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.testimonials.settings.background_style.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.testimonials.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.testimonials.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.testimonials.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "Rating"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Testimonial",
          "label": "t:sections.testimonials.blocks.testimonial.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.testimonials.blocks.testimonial.settings.text.label"
        },
        {
          "type": "text",
          "id": "author",
          "default": "User Name",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author.label"
        }
      ]
    },
    {
      "type": "client",
      "name": "t:sections.testimonials.blocks.client.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.client.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Client",
          "label": "t:sections.testimonials.blocks.client.settings.title.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.testimonials.blocks.client.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.testimonials.blocks.client.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.presets.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
